_______________________________________________


<h1 style="text-align: center;"> Python Básico</h1>

_______________________________________________

#### DATA TYPES

In [1]:
type(1) # O número 1 é inteiro

int

In [2]:
type(1.2) # O número 1.2 é um float

float

In [2]:
type("a") # O caractere @ é um caractere especial

str

In [3]:
type(True)

bool

In [4]:
list = []
type(list)

list

In [11]:
tuple = (1,"a")
type(tuple)

tuple


#### BASIC MATH OPERATIONS

In [9]:
5 - 1

4

In [10]:
12 * 3

36

In [11]:
12 / 2

6.0

In [9]:
2 ** 4 # 2 elevado à quarta potência

16

In [78]:
4 ** (1/2) # raiz quadrada de quatro

2.0

In [79]:
2 + 3 * 5 + 5 # neste caso a multiplicação ocorre antes das somas, como seria de se esperar.

22

In [15]:
(2 + 3) * (5 + 5) # neste caso usamos os parênteses para indicar as operações que queremos que ocorram primeiro

50

In [7]:
11 // 2 # Esta operação traz o resultado da divisão exata (o número 5 cabe duas vezes em 11, e sobra 1)

5

In [8]:
11 % 2 # Esta operação (chamada módulo) traz o resto da divisão exata (11 = 2*5 + 1)

1

## Prática

Usando o que acabamos de aprender, vamos usar as variáveis altura e massa para calcular o IMC (índice de massa corporal) do nosso instrutor em diversas situações! Sabendo que o IMC é massa/(altura^2)

1) Digamos que hoje ele tenha 1,75m e 75kg.

In [46]:
# Atribua valor às variáveis massa e altura e utilize estas variáveis para calcular o IMC.

massa = 75
altura = 1.75

imc = massa / (altura**2)

In [47]:
print(imc)

24.489795918367346

2) Agora, suponhamos que após um Reveillon muito muito animado, nosso instrutor ganha uma bagatela de 5 kg. Faça um novo cálculo do IMC. Ele deve tomar providências?

In [48]:
(massa + 5)/(altura**2)

26.122448979591837

<table class="table table-bordered">
<tr>
<th style="width:10%">Classificação</th><th style="width:45%">IMC</th><th>O que pode acontecer</th>
</tr>
<tr>
<td style="width:10%">Muito abaixo do peso</td><td style="width:45%">16 a 16,9 kg/m2</td><td>Queda de cabelo, infertilidade, ausência menstrual</td>
</tr>
<tr>
<td style="width:10%">Abaixo do peso</td><td style="width:45%">17 a 18,4 kg/m2</td><td>Fadiga, stress, ansiedade</td>
</tr>
<tr>
<td style="width:10%">Peso normal</td><td style="width:45%">18,5 a 24,9 kg/m2</td><td>Menor risco de doenças cardíacas e vasculares</td>
</tr>
<tr>
<td style="width:10%">Acima do peso</td><td style="width:45%">25 a 29,9 kg/m2</td><td>Fadiga, má circulação, varizes</td>
</tr>		
<tr>
<td style="width:10%">Obesidade Grau I</td><td style="width:45%">30 a 34,9 kg/m2</td><td>Diabetes, angina, infarto, aterosclerose</td>
</tr>		
<tr>
<td style="width:10%">Obesidade Grau II</td><td style="width:45%">35 a 40 kg/m2</td><td>Apneia do sono, falta de ar</td>
</tr>		
<tr>
<td style="width:10%">Obesidade Grau III</td><td style="width:45%">maior que 40 kg/m2</td><td>Refluxo, dificuldade para se mover, escaras, diabetes, infarto, AVC</td>
</tr>
</table>

## Observação:

Python é uma linguagem com tipagem dinâmica.
Em poucas palavras isso quer dizer que o tipo da variável acompanha o tipo de dado que atribuímos a ela. 
Assim, uma variável string, por exemplo, pode mudar o seu tipo caso receba, por exemplo, um valor de um inteiro.

No exemplo a seguir temos uma variável tipo string que, depois, muda para uma lista.

In [81]:
minhas_notas = 'oito e nove'

In [82]:
type(minhas_notas)

str

In [83]:
minhas_notas = [8,9]

In [84]:
type(minhas_notas)

list

### 2 - Strings

Strings são variáveis do tipo texto ou sequencia de caracteres. Podemos criar strings com aspas simples ou duplas, conforme os exemplos abaixo:

In [68]:
'aspas simples'

'aspas simples'

In [50]:
"aspas duplas"

'aspas duplas'

Mas não é tudo igual? Por qual motivo preciso de tudo isso?
Resposta: Para quando as aspas fazem parte do texto. Ex:

In [7]:
'Aí o Dudu disse "temos que investir nesta startup!"'

'Aí o Dudu disse "temos que investir nesta startup!"'

Ainda veremos em aulas futuras diversas operações que podemos realizar com strings. A seguir temos um exemplo simples de soma de strings:

In [24]:
vou_fazer = "vou checar "
objeto = "a base"

vou_fazer + objeto

'vou checar a base'

Como as strings são sequências de caracteres, cada caracter têm um índice específico dentro da string. 
Isso nos permite selecionar caracteres ou grupos de caracteres específicos:

In [51]:
nossa_string = 'Fala Pessoal'

In [53]:
nossa_string[7]

's'

In [89]:
'Fala Pessoal'[0] # estamos selecionando a letra de índice 0

'F'

In [55]:
nossa_string[0]

'F'

In [92]:
'Fala Pessoal'[0:2] # estamos selecionando as letras de índice 0 até a de índice 2 (não incluso)

'Fa'

In [94]:
'Fala Pessoal'[5:10]

'Pesso'

In [54]:
'Fala Pessoal'[-2:] # também conseguimos fazer a seleção de trás para frente

'al'

In [97]:
'Fala Pessoal'[0] + 'Fala Pessoal'[5]

'FP'

### 3) Booleanos

São variáveis do tipo falso ou verdadeiro.

In [35]:
a = True

In [36]:
b = False

In [37]:
5 > 4

True

In [38]:
4 < 3

False

In [39]:
4 == 4

True

In [1]:
4 != 4

False

In [10]:
5 == 5.0 # comparação entre int e float

True

In [3]:
'5' == 5 # Vejam que a string '5' não é igual ao inteiro 5

False

In [57]:
'5' > 5 # Vejam o tipo de erro informado: '>' not supported between instances of 'str' and 'int'

TypeError: '>' not supported between instances of 'str' and 'int'

Um caso um pouco diferente quanto a booleanos:

In [5]:
True == 1

True

In [6]:
False == 0

True

### Estruturas de Repetição

### While | Enquanto

In [ ]:
a = 0

while a < 5:
    print(a)
    a = a + 1

In [ ]:
a = 0

while a < 5:
    print(a)
    a = a + 1

### For | Para cada
Repetição da tarefa para cada item de uma sequência:

In [26]:
sequencia = ['oi', 'olá', 'sudações', 'e aí?!'] # aqui estamos vendo pela primeira vez uma lista, que abordaremos no futuro

for item in sequencia:
    print(item)

oi
olá
sudações
e aí?!

In [27]:
type(sequencia)

list

## Funções - introdução

In [60]:
def cafeteira(insumo):
    if insumo == 'café':
        return 'xìcara de café'
    else:
        return insumo + ' com água'

In [61]:
cafeteira('chocolate')

'chocolate com água'

In [62]:
cafeteira('café')

'xìcara de café'

In [64]:
cafeteira('barata')

'barata com água'

Esta próxima função recebe dois objetos e faz a soma:

In [48]:
def soma(a, b):
    return a + b

In [49]:
soma(4,5)

9

In [55]:
soma('olá','pessoa')

'olápessoa'

Esta última função não recebe argumento, mas imprime uma mensagem quando chamada:

In [56]:
def cumprimenta():
    print('Olá todo mundo!')

In [57]:
cumprimenta()

Olá todo mundo!

In [71]:
def verifica_par_impar(x):
    if x % 2 == 0:
        print('O número é par')
    elif x % 2 == 1:
        print('O número é ímpar')

In [73]:
verifica_par_impar(4)

O número é par

In [74]:
verifica_par_impar(5)

O número é ímpar

Tudo o que tem um padrão e será repetido pode virar uma função:

Brincadeira envolvendo um "clássico" dos anos 90:

In [14]:
def musica(pessoa, palavra):
    print(f'{pessoa} vai pegar um(a) {palavra} pra se defender!\nEl@ vai dar uma {palavra[0:-1]}ada na barata dela, el@ vai dar uma {palavra[0:-1]}ada na barata dela!')

In [17]:
musica('Lucas', 'Danone')

Lucas vai pegar um(a) Danone pra se defender!
El@ vai dar uma Danonada na barata dela, el@ vai dar uma Danonada na barata dela!

Referências:
    
<a href=https://realpython.com/python-data-types/> Real Python - Tipos de dados<a>